<table style='margin-left: -5px; width: 605px;'>

<%
MakeCpMenu();
for (i = 0; i < 8; i++)
{
  var pre = "<td>";
  var post = "</td>";
  if (i % 2)
    post = post + "</tr>";
  else
    pre = "<tr>" + pre;
%>
<%= pre %>
<div class='matrix_container'>
  <div id='matrix_header_<%= i %>' class="matrix_create_line">Загрузка...</div>
  <div id='matrix_<%= i %>' class='matrix'></div>
</div>
  <%
  if (levels[i])
  {
    id = levels[i];
	
    if (id == true)
    {
      url = 'api/matrix/ShowLevelCreate?a='+i;
      phoxy.SimpleApiRequest(url);
      //SoftLink(url);
    }
    else
	{
      matrix = matrix_list[id];	  
	  if (matrix['commited'] != 't')
	  {
	    alert("ejs: Ошибка логики, матрица не подтверждена " + i);
		continue;
	  }
      ShowMatrix(i, 'Активный цикл', 'matrix/matrix', {matrix: matrix, level: i});
	}
  }
  else
  {
    ShowMatrix(i, '', 'matrix/pre_create', {'level': i});
  }
  %>
<%= post %>
<%
}
%>


</table>
