<div style='padding-top: 30px'></div>
Перед тем, как отправить сообщение, пожалуйста обратите внимание на раздел “вопросы/ответы” , в котором собраны ответы на самые распространенные вопросы. Возможно вы так же сможете найти там интересующую вас информацию.
При обращении максимально конкретизируйте свой вопрос. Наиболее полная информация поможет нам оперативно отреагировать на ваше обращение и решить возникшую проблему.
<div style='padding-top: 20px'></div>
<form id="feedback_form" method='post' action='api/feedback/LeaveFeedback'>
Почта: <input type='text' name='email' placeholder='Ваша почта'><br>
<textarea name="feedback" cols="70" rows="10">Текст обращения</textarea>
<a onclick='FeedBack()' class='feedback' ></a>
</form>
<br>
 
