<link rel="stylesheet" type="text/css" href="design.css" media="all">
<title><%= title %></title>

<!-- Top -->
<div id="top">
 <div class="centered">
   <div id="login_menu"></div>
 </div>
</div>

<div class="centered">
 <!-- Mid -->
  <div id="body">
   <div class="bodytop">
     <div class="menu_container">
     <div id="menu" class="menu"></div>
     </div>
   </div>
		<div id="mid">
      <div id='cp_menu' style='margin-left: 84px; margin-right: 80px;'></div>
      <div class='content'>
        <div style='display: none;'>
        <div id="login_place" style='z-index: 31'></div>
        <div id="reg_place" style='z-index: 31'></div>      
        <!-- <div class='hidder'></div>        -->
        </div>
        <div id="content">

        <div id="video">
      <table>
        <tr>
          <td rowspan="3">
            <iframe id="video_main" width="450" height="300"
              img="//i1.ytimg.com/vi/IdWgvOxjYi8/sddefault.jpg"
              src="//www.youtube.com/embed/IdWgvOxjYi8" frameborder="0" allowfullscreen></iframe>
          </td>
          <td>
           <div id="video_0" width="140" height="105"
               img="//i1.ytimg.com/vi/BOUtF8IMPX8/sddefault.jpg"
               src="//www.youtube.com/embed/BOUtF8IMPX8" frameborder="0" allowfullscreen></div>
          </td>
        </tr>
        <tr>
          <td>
            <div id="video_1" width="140" height="105"
               img="//i1.ytimg.com/vi/hx4_aSkUpm8/sddefault.jpg"
               src="//www.youtube.com/embed/hx4_aSkUpm8" frameborder="0" allowfullscreen></div>
          </td>
        </tr>
        <tr>
          <td>
            <div id="video_2" width="140" height="105"
              img="//i1.ytimg.com/vi/ZNPMQ0ZvRDg/sddefault.jpg"
              src="//www.youtube.com/embed/ZNPMQ0ZvRDg" frameborder="0" allowfullscreen></div>
          </td>
        </tr>
      </table>
		</div>
<div style="font-family: sans-serif;">
<div>Компания ''Independence Limited’’ существует с 27 ноября 2012 года. С начала своего существования успешно развивается в сфере финансов и инвестирования и имеет большой потенциал к активному росту. На сегодняшний день в рамках компании стартует инвестиционный проект “Independence Bitcoin”.
</div><div>Инвестиции во всем мире ассоциируются с властью и богатством и в то же время являются глобальным фактором экономики в целом. Инвестиционная деятельность подразумевает собой вложение финансов или других ресурсов и осуществление практических действий в целях получения прибыли.
</div><div>''Independence Bitcoin’’ представляет собой Инвестиционно-интегрированный проект основанный на динамике роста ресурса, в сочетании с цикличным преобразованием и наложением сетевых структур и является инновационным в финансовой сфере.
</div><div>Это безусловно эксклюзивное сочетание особенностей проекта произведет революцию в сфере мировой экономики, улучшив благосостояние всех его партнеров.
</div><div>Маркетинг план компании: <a href='http://indbtc.com/INDEPENDENCE BITCOIN.pdf'>скачать</a>
</div><div>Инструкция по регистрации: <a href='http://indbtc.com/instruction.pdf'>скачать</a>
</div><div>Команда “Independence Limited” желает благоприятного сотрудничества новым партнерам.
</div><div style='text-align: right;'>Проект стартовал 1 августа 2013
</div>
</div>
        </div>
      </div>
    </div>
		<img src="img/bodybgfooter.png" style="margin-left: -22px;" />
	</div>
 <!-- Bot -->
	<div id="bot">
    <a href="https://youtube.com" class="tb_icon"></a>
    <a href="https://vk.com/indbtc" class="vk_icon"></a>
    <a href="https://facebook.com" class="fb_icon"></a>
    <a href="https://twitter.com" class="tv_icon"></a>
    <a href="https://google.com/+" class="gp_icon"></a>
    <a href="https://livejournal.com" class="lj_icon"></a>

    <div><img src="img/logo_footer.png" class="bt_logo" /></div>
	</div>
</div>
